 .u-section-1 {
  background-image: linear-gradient(#478ac9, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 441px;
  height: 441px;
  background-image: url("images/fotoFadzkal.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 567px;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 29px 30px 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px 95px 0 50px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  margin: 15px 30px 0 50px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  margin: 70px auto 0 50px;
  padding: 15px 49px 16px 47px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 50px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 390px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.1875rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.1875rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.1875rem;
  line-height: 2.2;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 45px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 751px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 483px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 407px;
    height: 407px;
    margin-left: 3px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 769px;
}

.u-section-2 .u-image-1 {
  object-position: 100% 50%;
  width: 633px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  left: 607px;
  right: -50px;
  transition-duration: 0.5s;
}

.u-section-2 .u-group-1 {
  width: 457px;
  min-height: 656px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 36px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 3px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 16px 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  margin: 16px auto 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 6px auto 0 130px;
  padding: 15px 49px 16px 47px;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 41px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 639px;
    left: 401px;
  }

  .u-section-2 .u-group-1 {
    width: 388px;
    margin-top: -572px;
    margin-bottom: 42px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 426px;
    left: 394px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
    margin-top: -493px;
    margin-bottom: 32px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    left: 214px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -511px;
    margin-bottom: 50px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 376px;
    left: 64px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin: -544px calc(((100% - 1140px) / 2)) -100px auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  min-height: 535px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 535px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 100px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 64px;
  margin: 31px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 100px 30px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 64px;
  margin: 31px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 100px 30px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 64px;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-1 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-text-3 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }

  .u-section-3 .u-text-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-text-5 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1013px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 755px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-4 .u-list-1 {
  width: 976px;
  margin: 49px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 351px;
  grid-gap: 27px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-4 .u-image-1 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 12.45% 50%;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-image-2 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  object-position: 0% 50%;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-4 .u-image-3 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 730px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-list-item-1 {
    animation-duration: 1750ms;
  }

  .u-section-4 .u-image-1 {
    height: 218px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-list-item-2 {
    animation-duration: 1750ms;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-list-item-3 {
    animation-duration: 1750ms;
  }

  .u-section-4 .u-image-3 {
    height: 219px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1105px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
  }

  .u-section-4 .u-image-1 {
    height: 255px;
  }

  .u-section-4 .u-image-3 {
    height: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 109px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 414px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 416px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2079px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 255px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 277px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 792px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-5 .u-list-1 {
  width: 976px;
  margin: 49px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 351px;
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-image-1 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 12.45% 50%;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-image-2 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  object-position: 39.43% 50%;
  margin: 0 0 0 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-5 .u-image-3 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 730px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-list-item-1 {
    animation-duration: 1750ms;
  }

  .u-section-5 .u-image-1 {
    height: 218px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-list-item-2 {
    animation-duration: 1750ms;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-list-item-3 {
    animation-duration: 1750ms;
  }

  .u-section-5 .u-image-3 {
    height: 219px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1105px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
  }

  .u-section-5 .u-image-1 {
    height: 255px;
  }

  .u-section-5 .u-image-3 {
    height: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 414px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 416px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2079px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 255px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 277px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 790px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-6 .u-list-1 {
  width: 976px;
  margin: 49px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 351px;
  grid-gap: 27px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-6 .u-image-1 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 12.45% 50%;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-6 .u-image-2 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  object-position: 39.43% 50%;
  margin: 0 0 0 20px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-6 .u-image-3 {
  height: 139px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 287px;
  margin: 0 0 0 20px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 20px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 730px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-list-item-1 {
    animation-duration: 1750ms;
  }

  .u-section-6 .u-image-1 {
    height: 218px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-list-item-2 {
    animation-duration: 1750ms;
  }

  .u-section-6 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-list-item-3 {
    animation-duration: 1750ms;
  }

  .u-section-6 .u-image-3 {
    height: 219px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1105px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
  }

  .u-section-6 .u-image-1 {
    height: 255px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 256px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 414px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 416px;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2079px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 255px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 277px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 960px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 120px auto 0;
}

.u-section-7 .u-form-1 {
  height: 746px;
  background-image: none;
  width: 616px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 60px;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 11px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }
}